/** ACTIVE SIDE BAR LEFT **/
.parent.active .sidebarLeft{
    transform: translateX(0);
    transition: all .3s ease;
}

.accordion-link.active > a{
    color: var(--ad-color-white);
}

.accordion-link.active ul{
    grid-template-rows: 1fr;
    transition: all .3s ease;
}

.accordion-link.active .count-menu{
    transform: rotate(90deg);
    transition: all .3s ease;
}