/** ACTIVE SIDE BAR LEFT **/
.parent.active .sidebarLeft{
    transform: translateX(0);
    transition: all .3s ease;
}

.parent.active .activeSidebar{
    display: block;
}

.parent.active .hamb-icon{
    display: none;
}

.accordion-link.active > a{
    color: var(--ad-color-white);
}

.accordion-link.active ul{
    grid-template-rows: 1fr;
    transition: all .3s ease;
}

.accordion-link.active .count-menu{
    transform: rotate(90deg);
    transition: all .3s ease;
}

/* OVERLYNE */

.parent.active .overlyne{
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

/* BRANDS MENU DROP */

.brands-links.active{
    color: var(--ad-color-dark);
    transition: all .3s ease;
}

.menu-drop-brands.active{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    transition: all .3s ease;
}

/* SIDEBAR RIGHT */

.sidebarRight.active{
    transform: translateX(0);
    transition: all .3s ease;
}


.overlyne.active{
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

/* NOTIFICATION MENU DROP */

.menu-drop-notification.active{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(153px) translateY(0);
    transition: all .3s ease;
}

.notification-links.active{
    color: var(--ad-color-dark);
    transition: all .3s ease;
}


/* MENU DROP USER */

.menu-drop-user.active{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-4px) translateY(0);
    transition: all .3s ease;
}