@media (min-width: 768px) {
    
    /* BODY */
    .parent{
        grid-template-columns: auto 1fr;
    }

    .sidebarLeft{
        position: sticky;
        width: 70px;
        align-self: start;
        transform: translateX(0);
    }

    .header-nav,
    .link-name,
    .badge-pages-menu,
    .logoWebsite,
    .count-menu,
    .contains-link{
        display: none;
    }

    .sidebar-content ul{
        /* background-color: red; */
    }

    ul .link-section {
        align-items: center;
    }

    .sidebarLeft .container-sidebarLeft{
        padding-inline: 0;
    }

    .link-section a {
        justify-content: center;
    }

    .sidebarLeftTop .logo-content,
    .logo-content a  {
        justify-content: center;
    }

    /* NAV BAR ITEMS */

    .navbar .navItem{
        gap: 1rem;
    }

    .items .info-user{
        display: block;
    }

    .items.language .name,
    .items.language .icons{
        display: block;
    }

    nav .navbar,
    .content .container-content{
        padding-inline: 24px;
    }

    /* Last items */
    .navRight .user {
        flex: 0 0 180px;
    }

    /** ACTIVE SIDE BAR LEFT LOGIQUE **/
    .parent.active .sidebarLeft{
        width: 260px;
    }

    .parent.active .header-nav,
    .parent.active .link-name,
    .parent.active .badge-pages-menu,
    .parent.active .logoWebsite,
    .parent.active .count-menu,
    .parent.active .contains-link{
        display: block;
    }

    .parent.active ul .link-section {
        align-items: flex-start;
    }

    .parent.active .link-section a {
        justify-content: space-between;
    }

    .parent.active .sidebarLeft .container-sidebarLeft{
        padding-inline: 1rem;
    }

}

@media (min-width: 1024px) {
    

    .sidebarLeft{
        width: 260px;
    }

    /** CONTAINER SIDE BAR LEFT **/
    .sidebarLeft .container-sidebarLeft{
        padding-inline: 1rem;
    }

    
    .header-nav,
    .link-name,
    .badge-pages-menu,
    .logoWebsite,
    .count-menu,
    .contains-link{
        display: block;
    }

    ul .link-section {
        align-items: flex-start;
    }

    .link-section a {
        justify-content: space-between;
    }

    /* NAV BAR ITEMS */

    .items.search-icons{
        display: none;
    }

    /** ACTIVE SIDE BAR LEFT LOGIQUE **/
    .parent.active .sidebarLeft{
        position: sticky;
        width: 70px;
        align-self: start;
        transform: translateX(0);
    }

    .parent.active .header-nav,
    .parent.active .link-name,
    .parent.active .badge-pages-menu,
    .parent.active .logoWebsite,
    .parent.active .count-menu,
    .parent.active .contains-link{
        display: none;
    }

    .parent.active ul .link-section {
        align-items: center;
    }

    .parent.active .sidebarLeft .container-sidebarLeft{
        padding-inline: 0;
    }

    .parent.active .link-section a {
        justify-content: center;
    }

    .parent.active .sidebarLeftTop .logo-content,
    .parent.active .logo-content a  {
        justify-content: center;
    }

    
}